# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Developing_II\extension-manifest-converter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
